body {
  background-color: #261F1D;
  color: #F2E6CE;
}
input {
  border: 5px solid #A61C1C;
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 5px;
  background: #D1C5A2;
}
h1 {
  color: #A61C1C;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-align: center;
}
p.tweet {
  background-color: #F2E6CE;
  border-radius: 12px;
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
  color: #BF9F63;
  display: none;
  padding: 5px;
}
.search {
  margin: 0 auto;
  text-align: center;
}
.search #terms {
  margin: 7px;
}
.search #terms span.term {
  background-color: #F2E6CE;
  border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
  color: #BF9F63;
  margin: 5px;
  padding: 3px;
}
.search #terms span.term a {
  color: #A61C1C;
  padding: 0 0 0 3px;
  text-decoration: none;
}
